@model exam_db.Models.Item

<link href="~/Content/file-item-page.css" rel="stylesheet" />
<div class="container">
    <div class="file_page">
        <div class="file_box">
            <div class="file_main_info">
                <div class="file_title_holder">
                    <h4 class="file_title">@Model.title</h4>
                    <div class="h4"><span class="badge badge-info">@Model.yearOfPublish</span></div>
                </div>
                <div class="download_info">
                    <span class="file_size">@ViewBag.size MB</span>
                    <div class="type_img_holder">
                        <img src="~/Content/images/files_types/pdf.png" />
                    </div>
                  
                    <a class="btn btn-success" href="@Url.Action("Download","Web",new { itemId = Model.Id })"><i class="fa fa-download"></i> @Resources.InternalPages.Download</a>
                   
                </div>

                <div class="file_college_info">
                    <span><i class="fa fa-wpexplorer"></i> @ViewBag.depName</span>
                    <span><i class="fa fa-bank"></i> @ViewBag.CollegeName</span>
                </div>

               
                

                <div class="file_desc">
                    <p>
                        @Model.description
                    </p>
                </div>

                @*<p class="item_upload_date"><i class="fa fa-clock-o"></i> @Resources.InternalPages.Upload_at: 02:34pm  -  May 14, 2019</p>*@

                <p class="item_upload_date"><i class="fa fa-clock-o"></i> @Model.uploadTime</p>

                <div class="flex-row d-flex align-items-center ">
                    @if (ViewBag.Liked == "true")
                    {
                        <a class="favorite addlike" id="favorite_btn" href="#" title="Favorite"> <i class="fa fa-heart"></i> </a>
                    }
                    else
                    {
                        <a class="favorite addlike" id="favorite_btn" href="#" title="Favorite"> <i class="fa fa-heart-o"></i> </a>

                    }
                    <div class="file_statistics">
                        <div class="statistic">
                            <i class="fa fa-heart"></i> @Model.likeNumber
                        </div>
                        <div class="statistic">
                            <i class="fa fa-eye"></i> @Model.viewNumber
                        </div>
                        <div class="statistic">
                            <i class="fa fa-download"></i> @Model.downloadNumber
                        </div>
                    </div>
                </div>
            </div>


            <!-- Report Abuse -->
            <a class="report_abuse" data-toggle="modal" data-target="#reportAbuseModal" href="#" title="Report Abuse"><i class="fa fa-thumbs-o-down"></i> @Resources.InternalPages.Report</a>
            <div class="report_abuse_modal modal fade" id="reportAbuseModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id=""><i class="fa fa-thumbs-o-down"></i> @Resources.InternalPages.Report_Popup_Title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <p id="ReportErrorMsg"></p>
                        <div class="modal-body">
                            <p><strong>@Resources.InternalPages.Report_P_1</strong> @Resources.InternalPages.Report_P_2:</p>


                            @foreach (var cons in ViewBag.constants)
                            {
                                <div class="custom-control custom-radio">

                                    @*<input class="custom-control-input" type="radio" name="report" id="report1" value="option1">
                                        <label class="custom-control-label" for="report1">
                                            @Resources.InternalPages.Report_1*@

                                    <input class="custom-control-input reportKey" type="radio" name="report" id="@cons.Id" value="@cons.Key">
                                    <label class="custom-control-label" for="@cons.Id">
                                        @cons.Value

                                    </label>
                                </div>

                                @*<div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="report" id="report2" value="option2">
                                        <label class="custom-control-label" for="report2">
                                            @Resources.InternalPages.Report_2
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="report" id="report3" value="option3">
                                        <label class="custom-control-label" for="report3">
                                            @Resources.InternalPages.Report_3
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="report" id="report4" value="option4">
                                        <label class="custom-control-label" for="report4">
                                            @Resources.InternalPages.Report_4
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="report" id="report5" value="option5">
                                        <label class="custom-control-label" for="report5">
                                            @Resources.InternalPages.Report_5
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="report" id="report6" value="option6">
                                        <label class="custom-control-label" for="report6">
                                            @Resources.InternalPages.Report_6
                                        </label>
                                    </div>*@

                            }
                        </div>
                        <div class="modal-footer">

                            @*<button type="button" class="btn btn-primary">@Resources.InternalPages.Report</button>*@

                            <button type="button" class="btn btn-primary reportbtn">Report</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>



        <h4 class="mb-4">@Resources.InternalPages.Related_Files_Title</h4>
        <ul class="list-unstyled recommended_list">
            <!-- Start list item show (repeat it inside for loop)-->
            @foreach (var item in ViewBag.Related)
            {
                <li>
                    <div class="item">
                        <div class="item_body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="item_img_and_info_holder">
                                        <div class="item_type_img_holder">
                                            <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                        </div>
                                        <div class="item_info">
                                            <a class="black_link no_decoration" href="@Url.Action("File","Web",new {fileId =item.Id , CollegeName = ViewBag.CollegeName , depName = ViewBag.depName } )">
                                                <h6 class="item_title">@item.title</h6>
                                            </a>
                                            <span class="item_college">@ViewBag.CollegeName - <span>@ViewBag.depName</span></span>
                                            <a class="black_link no_decoration" style="display:block" href="#">
                                                <div class="item_owner">
                                                    <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                    <span class="item_owner_name">@item.User.firstname @item.User.lastname</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="item_statistics">
                                        <div class="statistic">
                                            <i class="fa fa-heart"></i> @item.likeNumber
                                        </div>
                                        <div class="statistic">
                                            <i class="fa fa-eye"></i> @item.viewNumber
                                        </div>
                                        <div class="statistic">
                                            <i class="fa fa-download"></i> @item.downloadNumber
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="item_date">@item.yearOfPublish</span>
                        </div>
                    </div>
                </li>

                <!-- End list item show (repeat it inside for loop)-->

                @*<li>
                        <div class="item">
                            <div class="item_body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="item_img_and_info_holder">
                                            <div class="item_type_img_holder">
                                                <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                            </div>
                                            <div class="item_info">
                                                <a class="black_link no_decoration" href="~/Web/File">
                                                    <h6 class="item_title">database midterm exam</h6>
                                                </a>
                                                <span class="item_college">Information technology - <span>Computer science</span></span>
                                                <a class="black_link no_decoration" style="display:block" href="#">
                                                    <div class="item_owner">
                                                        <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                        <span class="item_owner_name">omar kishko</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="item_statistics">
                                            <div class="statistic">
                                                <i class="fa fa-heart"></i> 184
                                            </div>
                                            <div class="statistic">
                                                <i class="fa fa-eye"></i> 301
                                            </div>
                                            <div class="statistic">
                                                <i class="fa fa-download"></i> 190
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <span class="item_date">2018</span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item">
                            <div class="item_body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="item_img_and_info_holder">
                                            <div class="item_type_img_holder">
                                                <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                            </div>
                                            <div class="item_info">
                                                <a class="black_link no_decoration" href="~/Web/File">
                                                    <h6 class="item_title">database midterm exam</h6>
                                                </a>
                                                <span class="item_college">Information technology - <span>Computer science</span></span>
                                                <a class="black_link no_decoration" style="display:block" href="#">
                                                    <div class="item_owner">
                                                        <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                        <span class="item_owner_name">omar kishko</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="item_statistics">
                                            <div class="statistic">
                                                <i class="fa fa-heart"></i> 184
                                            </div>
                                            <div class="statistic">
                                                <i class="fa fa-eye"></i> 301
                                            </div>
                                            <div class="statistic">
                                                <i class="fa fa-download"></i> 190
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <span class="item_date">2017</span>
                            </div>
                        </div>
                    </li>*@

            }
        </ul>


    </div>
</div>

@section scripts {
    <script>
        // toggle favorite icon
        $('#favorite_btn').on('click', function () {
            $('#favorite_btn i.fa').toggleClass('fa-heart-o fa-heart');
        });

        // downloading errors
        if ("@TempData["message"]" != "") {
            errorToaster("@TempData["message"]");
        }
        

        //ajax method for like the item
        $(".addlike").on("click", function () {
             $.ajax({
            url: '@Url.Action("AddLike","Web")',
            type: 'POST',
            dataType: "json",
            ajaxasync: true,
            data: {
                itemId: @Model.Id
            },
            success: function (result) {
                     console.log(result);
             },
            failure: function (response) {
                alert(response.responseText);
                console.log(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
                console.log(response.responseText);
            }
        });

        });
        $(".reportbtn").on("click", function () {
            var reportValue = $('.custom-control.custom-radio').children('input[name="report"]:checked').val();
            if (reportValue == undefined) {
                var Error = document.getElementById("ReportErrorMsg");
                Error.innerText = "Choose Type";
            } else {
                    $.ajax({
                        url: '@Url.Action("Report","Web")',
                        type: 'POST',
                        dataType: "json",
                        ajaxasync: true,
                        data: {
                            itemId: @Model.Id,
                            reportKey: reportValue
                        },
                        success: function (result) {
                            console.log(result);
                            $('#reportAbuseModal').modal('hide');
                        },
                        failure: function (response) {
                            alert(response.responseText);
                            console.log(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                            console.log(response.responseText);
                        }
                    });
             }
        });
    </script>
}