@model exam_db.Models.ChangePasswordViewModel

@using (Ajax.BeginForm("ChangePassword", "Manage", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccessEditPassword",
    OnFailure = "errorToaster('Error updating, check your inputs')",
}))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input_field_wrap">
                        <label for="OldPassword"> @Resources.InternalPages.Currently_password</label>
                        <input type="password" class="form-control" name="OldPassword" id="OldPassword" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input_field_wrap">
                        <label for="NewPassword"> @Resources.InternalPages.New_password</label>
                        <input type="password" class="form-control" name="NewPassword" id="NewPassword" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input_field_wrap">
                        <label for="ConfirmPassword"> @Resources.InternalPages.Confirm_new_password</label>
                        <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" value="Change password" class="btn btn-primary">@Resources.InternalPages.Done</button>
    </div>
}

<script>
    function OnSuccessEditPassword(data) {
        if (data.success) {
            successToaster('Your Password Updated Successfully');
            $('#passwordModal').modal('hide');
        } else {
            errorToaster("Update Error: check your inputs");
        }
    }
</script>



