<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ExamDB</title>
    @Styles.Render("~/Content/css")
    @RenderSection("style", required: false)

    @if (Session["lang"] != null && @HttpContext.Current.Session["lang"].ToString() == "ar")
    {
        <!-- only in arabic-->
        <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />

    }
    else
    {
        <!-- only in english-->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    }

   

    <!-- same in both arabic and english -->
    <link href="~/Content/Site.css" rel="stylesheet" />

    <!-- only in arabic -->
    @if (Session["lang"] != null && @HttpContext.Current.Session["lang"].ToString() == "ar")
    {
        <link href="~/Content/site-rtl.css" rel="stylesheet" />
    }

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="~/Home/Index">
                <img class="navbar-logo" src="~/Content/images/logo-small.png" /> Exam<span>DB</span>
            </a>
            <!-- Search -->

            <form id="search_form" method="GET" action="~/Home/Search" class="search_container">
                <input id="search" type="text" class="search_input" name="search" placeholder="@Resources.Global.Search_Placeholder" />
                <i onclick="document.getElementById('search_form').submit();" style="cursor:pointer" class="fa fa-search"></i>
                <span class="filter_btn"><i class="fa fa-sliders"></i></span>


                <div class="search_filters_container">



                    <div class="pretty  p-default p-curve check_all_filter">
                        <input type="checkbox" id="mid" name="mid" value="Mid" />
                        <div class="state p-primary-o">
                            <label class="bold_custom">@Resources.Global.Search_Filter_Midterm</label>
                        </div>
                    </div>

                    <div class="pretty  p-default p-curve check_all_filter">
                        <input type="checkbox" id="final" name="final" value="Final" />
                        <div class="state p-primary-o">
                            <label class="bold_custom">@Resources.Global.Search_Filter_Final</label>
                        </div>
                    </div>

                    <div class="pretty p-default p-curve check_all_filter">
                        <input type="checkbox" id="all" name="all" value="all" />
                        <div class="state p-primary-o">
                            <label class="bold_custom">@Resources.Global.Search_Filter_All</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve check_all_filter">
                        <input type="checkbox" id="quiz" name="quiz" value="Quiz" />
                        <div class="state p-primary-o">
                            <label class="bold_custom"> @Resources.InternalPages.Quizs</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve check_all_filter">
                        <input type="checkbox" id="summary" name="summary" value="Summary" />
                        <div class="state p-primary-o">
                            <label class="bold_custom"> @Resources.InternalPages.Summaries</label>
                        </div>
                    </div>

                    <div class="pretty p-default p-curve check_all_filter">
                        <select id="year" name="year" class="search_form custom-select">
                            <option value=""> Select Year</option>
                            <option value="allyears"> All Years</option>
                            @for (int i = 2000; i < 2020; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>

                </div>
            </form>

            @Html.Partial("_LoginPartial")

            <!-- Languages dropdown -->
            <div class="dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown" id="dropdownLangMenu" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-globe "></i>
                </div>
                
                <div class="dropdown-menu dropdownLangMenu animated fadeInDown faster"  aria-labelledby="dropdownLangMenus">
                    <a class="dropdown-item bold_custom dropdownLangMenu_item " href="~/Home/ChangeLang?lang=ar"><span class="lang_flag"><img src="~/Content/images/ar-flag.png" /></span>@Resources.Global.Lang_Ar</a>
                    <a class="dropdown-item bold_custom dropdownLangMenu_item" href="~/Home/ChangeLang?lang=en"><span class="lang_flag"><img src="~/Content/images/en-flag.png" /></span></i>@Resources.Global.Lang_En</a>
                </div>
            </div>


           

            <!-- Start Navigation Button -->
            <div class="bars">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>


            <div class="navbar_circle">
                <ol class="list-unstyled">
                    <a href="~/Home/Index" class="no_decoration">
                        <li id="navbar_animate_1" class="bold_custom">@Resources.Global.Menu_Home</li>
                    </a>
                    <a href="~/Home/About" class="no_decoration">
                        <li id="navbar_animate_2" class="bold_custom">@Resources.Global.Menu_About</li>
                    </a>
                </ol>
            </div>


            <!-- End Navigation Button -->

        </div>
</nav>



    <div class="body-content">
        @RenderBody()

        
        @* <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - ExamDB</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
