@model IEnumerable<exam_db.Models.ApplicationUser>

@{
    ViewBag.Title = Resources.InternalPages.Title_Profile_Page;
}
<link href="~/Content/profile_page.css" rel="stylesheet" />

<!-- Start Profile Header -->

<div class="profile_header">
    <div class="container">
        <div class="profile_user">
            <div class="user_img_holder">
                <img src="~/Content/images/omar.jpg" />
            </div>
            <div class="user_info_holder">
                <h2 class="username FullNameView"> @ViewData["FullName"] </h2>
                <h5 class="user_college CollegeView">@ViewBag.User.department.college.name</h5>
            </div>
        </div>
    </div>
</div>

<!-- End Profile Header -->
<!-- Start Page Content -->

<div class="container">
    <div class="profile_page">
        <!-- Start Profile page Navbar-->

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id=" -tab" data-toggle="tab" href="#Personal_Information" role="tab" aria-controls="Personal_Information" aria-selected="true">@Resources.InternalPages.Personal_Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Uploaded_files_tab" data-toggle="tab" href="#Uploaded_files" role="tab" aria-controls="Uploaded_files" aria-selected="false">@Resources.InternalPages.Uploaded_files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Favorites_files_tab" data-toggle="tab" href="#Favorites" role="tab" aria-controls="Favorites" aria-selected="false">@Resources.InternalPages.Favorites</a>
            </li>
        </ul>

        <!-- End Profile page Navbar-->
        <!-- Start Taps Content -->

        <div class="tab-content" id="">

            <!-- Start Personal Information content  -->

            <div class="tab-pane personal_info pt-5 fade show active" id="Personal_Information">
                <!-- Profile Section -->
                <section>
                    <h5 class="personal_info_title">@Resources.InternalPages.Profile_Title</h5>

                    <div class="info_filed editable" data-toggle="modal" data-target="#nameModal">
                        <div class="row">
                            <div class="col-md-2">
                                <lable class="info_filed_key">@Resources.InternalPages.Name</lable>
                            </div>
                            <div class="col-md-10">
                                <h6 class="FullNameView info_filed_value">@ViewData["FullName"]</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Start Changing "Name" Modal -->

                    <div class="profile_modal modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="">@Resources.InternalPages.Name</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                @using (Ajax.BeginForm("ProfileEditName", "Home", new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    OnSuccess = "OnSuccessEditName",
                                    OnFailure = "errorToaster('Error updating, try again')",
                                }))
                                {

                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="input_field_wrap">
                                                        <label for="ItemTitle"> @Resources.InternalPages.First_Name</label>
                                                        <input type="text" class="form-control" name="firstname" id="FirstNameEdit" value="@ViewBag.User.firstname" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="input_field_wrap">
                                                        <label for="ItemTitle"> @Resources.InternalPages.Last_Name</label>
                                                        <input type="text" class="form-control" name="lastname" id="LastNameEdit" value="@ViewBag.User.lastname" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">@Resources.InternalPages.Done</button>
                                    </div>
                                }
                                <script>
                                    function OnSuccessEditName(data) {
                                        if (data.success) {
                                            successToaster('Your Name Updated Successfully');
                                            $('.FullNameView').text($('#FirstNameEdit').val() + " " + $('#LastNameEdit').val());
                                            $('#nameModal').modal('hide');


                                        } else {
                                            errorToaster(data.error);
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>

                    <!-- End Changing "Name" Modal -->

                    <div class="info_filed">
                        <div class="row">
                            <div class="col-md-2">
                                <lable class="info_filed_key"> @Resources.InternalPages.Email</lable>
                            </div>
                            <div class="col-md-10">
                                <h6 class="info_filed_value">@ViewBag.User.Email</h6>
                            </div>
                        </div>
                    </div>
                    <div class="info_filed">
                        <div class="row">
                            <div class="col-md-2">
                                <lable class="info_filed_key">@Resources.InternalPages.Country</lable>
                            </div>
                            <div class="col-md-10">
                                <h6 class="info_filed_value">Palestine</h6>
                            </div>
                        </div>
                    </div>

                </section>

                <!-- Education Section -->
                <section>
                    <h5 class="personal_info_title ">@Resources.InternalPages.Education_Title</h5>

                    <div class="info_filed">
                        <div class="row">
                            <div class="col-md-2">
                                <lable class="info_filed_key">@Resources.InternalPages.University</lable>
                            </div>
                            <div class="col-md-10">
                                <h6 class="info_filed_value">Islamic university of Gaza</h6>
                            </div>
                        </div>
                    </div>
                    <div class="info_filed editable" data-toggle="modal" data-target="#collegeModal">
                        <div class="row">
                            <div class="col-md-2">
                                <lable class="info_filed_key">@Resources.InternalPages.College</lable>
                            </div>
                            <div class="col-md-10">
                                <h6 class="info_filed_value CollegeView ">@ViewBag.User.department.college.name</h6>
                            </div>
                        </div>
                    </div>
                    <div class="info_filed editable" data-toggle="modal" data-target="#collegeModal">
                        <div class="row">
                            <div class="col-md-2">
                                <lable class="info_filed_key">@Resources.InternalPages.Department</lable>
                            </div>
                            <div class="col-md-10">
                                <h6 class="info_filed_value DepartmentView ">@ViewBag.User.department.name</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Start Changing "College" Modal -->

                    <div class="profile_modal modal fade" id="collegeModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="">@Resources.InternalPages.College</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                @using (Ajax.BeginForm("ProfileEditCollege", "Home", new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    OnSuccess = "OnSuccessEditCollege",
                                    OnFailure = "errorToaster('Error updating, try again')",
                                }))
                                {
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="input_field_wrap">
                                                        <label> @Resources.InternalPages.College</label>
                                                        <select class="form-control" id="Colleges">
                                                            @foreach (var item in ViewBag.college)
                                                            {
                                                                if (item.Id == ViewBag.User.department.college.Id)
                                                                {
                                                                    <option value="@item.Id" selected>@item.name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="input_field_wrap">
                                                        <label>@Resources.InternalPages.Department</label>

                                                        <select name="departmentId" class="form-control" id="departments"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">@Resources.InternalPages.Done</button>
                                    </div>
                                }
                                <script>
                                    function OnSuccessEditCollege(data) {
                                        if (data.success) {
                                            successToaster('Your College Updated Successfully');
                                            $('.CollegeView').text($('#Colleges option:selected').text());
                                            $('.DepartmentView').text($('#departments option:selected').text());

                                            $('#collegeModal').modal('hide');


                                        } else {
                                            errorToaster(data.error);
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>

                    <!-- End Changing "Password" Modal -->

                </section>

                <!-- Security Section -->
                <section>
                    <h5 class="personal_info_title">@Resources.InternalPages.Security_Title</h5>

                    <div class="info_filed editable" data-toggle="modal" data-target="#passwordModal">
                        <div class="row">
                            <div class="col-md-2">
                                <lable class="info_filed_key">@Resources.InternalPages.Password</lable>
                            </div>
                            <div class="col-md-10">
                                <h6 class="info_filed_value">*************</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Start Changing "College" Modal -->
                    
                    <div class="profile_modal modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="">@Resources.InternalPages.Password</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                @Html.Partial("~/Views/Manage/ChangePassword.cshtml")
                            </div>
                        </div>
                    </div>

                    <!-- End Changing "Password" Modal -->

                </section>

            </div>

            <!-- End Personal Information content  -->
            <!-- Start Uploaded files content -->

            <div class="tab-pane fade" id="Uploaded_files">
                <ul class="list-unstyled uploaded_list" id="Uploaded_files_ul">

                </ul>
                <ul class="pagination" id="uploaded_items_pagination">
                    
                </ul>
            </div>

            <!-- End Uploaded files content -->
            <!-- Start Favorites content  -->

            <div class="tab-pane fade" id="Favorites">
                <ul class="list-unstyled uploaded_list" id="Favorites_files_ul">
                  
                </ul>
                <ul class="pagination" id="favorites_items_pagination">

                </ul>
            </div>

            <!-- End Favorites content  -->


        </div>
    </div>
</div>
<!-- End Page Content -->

@section scripts {
    <script>
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }
        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
        // get department list when select the college
        $("#Colleges").change(function () {
            LoadDepartments();
        });
        // Fetch the department first time
        LoadDepartments();
        // Fetch the departments
        function LoadDepartments() {
            var collegeId = document.getElementById("Colleges");
            var ID = collegeId.options[collegeId.selectedIndex].value;
            var depatments = document.getElementById("departments");
            $.ajax({
                url: '@Url.Action("getDepartment","Web")',
                type: 'POST',
                dataType: "json",
                data: { idString: ID },
                success: function (result) {
                    depatments.innerHTML = "";
                    $.each(result, function (i, result) {
                        var option;
                        if (result.Id == @ViewBag.User.departmentId) {
                            option = "<option value='" + result.Id + "' id='" + result.Id + "' selected >" + result.name + "</option>";
                        } else {
                            option = "<option value='" + result.Id + "' id='" + result.Id + "' >" + result.name + "</option>";
                        }
                        $('#departments').append(option);
                    });
                },
                failure: function (response) {
                        console.log(response.responseText);
                },
                error: function (response) {
                        console.log(response.responseText);
                }
            });
        }

        // getting the (Uploaded & Favorites) items when page loaded
        UploadedItemsPaging(1, 1);
        UploadedItemsPaging(1, 2);

        // get it only when click on tap
        //$("#Uploaded_files_tab").on("click", function ()
        //{
        //    UploadedItemsPaging(1, 1);
        //});
        //$("#Favorites_files_tab").on("click", function ()
        //{
        //    UploadedItemsPaging(1, 2);
        //});
        //--- UploadedItemsPaging function
        function UploadedItemsPaging(page, methodFlag) { // methodFlag indicate getting the (1 -> uploaded or 2-> Favorites) items 
            $.ajax({
                 url: '@Url.Action("GetUploadedItems","Home")',
                type: 'POST',
                dataType: "json",
                data: { pageIndex: page, method: methodFlag },
                success: function (result) {
                    var jsonString = jQuery.parseJSON(JSON.stringify(result));
                    var array = JSON.parse(jsonString.data);
                    if (methodFlag == 1) {
                        var items_parent = document.getElementById("Uploaded_files_ul");
                        items_parent.innerHTML = ''; // clean the parent
                        items_parent.innerHTML = (array.length == 0) ? "<p class'lead'>You have no uploaded items</p>" : "";
                    } else if (methodFlag == 2) {
                        var items_parent = document.getElementById("Favorites_files_ul");
                        items_parent.innerHTML = ''; // clean the parent
                        items_parent.innerHTML = (array.length == 0) ? "<p class'lead'>You have no favorites items</p>" : "";
                    }
                    for (var i = 0; i < array.length; i++) {
                        // Start Item Block
                        var ItemHtmlBlock =
                            '<li>' +
                                '<div class="item">' +
                                    '<div class="item_body">' +
                                        '<div class="row">' +
                                            '<div class="col-md-7">' +
                                                '<div class="item_img_and_info_holder"> ' +
                                                    '<div class="item_type_img_holder">' +
                                                        '<img class="item_type_img" src="../../Content/images/files_types/pdf.png" />' +
                                                    '</div>' +
                                                    '<div class="item_info">' +
                                                        '<a class="black_link no_decoration" href="~/Web/File">' +
                                                            '<h6 class="item_title">' + array[i].title + '</h6>' +
                                                        '</a>' +
                                                        '<span class="item_college"> ' + array[i].CourseName + ' - <span> ' + array[i].DepartmentName + '</span></span>' +
                                                        '<p class="item_upload_date"><i class="fa fa-clock-o"></i> ' + array[i].uploadTime + '</p>' +
                                                    '</div>' +
                                                '</div>' +
                                            '</div> ' +
                                            '<div class="col-md-5">' +
                                                '<div class="item_statistics">' +
                                                    '<div class="statistic">' +
                                                        '<i class="fa fa-heart"></i>' + array[i].likeNumber +
                                                    '</div>' +
                                                    '<div class="statistic">' +
                                                        '<i class="fa fa-eye"></i>' + array[i].viewNumber +
                                                    '</div>' +
                                                    '<div class="statistic">' +
                                                        '<i class="fa fa-download"></i>' + array[i].downloadNumber +
                                                    '</div>' +
                                                '</div>' +
                                            '</div>' +
                                        '</div>' +
                                        '<span class="item_date">' + array[i].yearOfPublish + '</span>' +
                                    '</div>' +
                                '</div>' +
                            '</li >';
                        items_parent.innerHTML += ItemHtmlBlock;
                    }
                    if (array.length != 0) {
                        // Start Pagination nav
                        if (methodFlag == 1) {
                                var items_pagination = document.getElementById("uploaded_items_pagination");
                        } else if (methodFlag == 2) {
                                var items_pagination = document.getElementById("favorites_items_pagination");
                        }
                        var previous = page - 1; var next = page + 1;
                        var previousDisabled = (!(page >= 2)) ? "disabled" : "";
                        var nextDisabled = (!(page < jsonString.totalPage)) ? "disabled" : "";
                        var PaginationHtmlBlock = '<li class="page-item '+ previousDisabled +' "><span class="page-link" onclick="UploadedItemsPaging('+ previous +', ' + methodFlag + ')">@Resources.InternalPages.Previous</span></li>';
                        for (var j = 1; j < jsonString.totalPage + 1; j++) {
                            var active = (page == j) ? 'active' :'';
                            PaginationHtmlBlock += '<li class="page-item ' + active + ' "><span class="page-link "  onclick="UploadedItemsPaging(' + j + ', ' + methodFlag + ')">' + j + '</span></li>';
                        }
                        PaginationHtmlBlock += '<li class="page-item '+ nextDisabled +' "><span class="page-link" onclick="UploadedItemsPaging('+ next +', ' + methodFlag + ')">@Resources.InternalPages.Next</span></li>';
                        items_pagination.innerHTML = PaginationHtmlBlock;
                    }
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        }


    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}